.videoSection {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.videoContainer {
  position: relative;
  width: 50%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(59, 8, 77, 0.15);
  margin-bottom: 3rem; /* space between videos */
}

.videoContainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: contain; /* or 'cover' if you want to crop */
  border-radius: 12px;
}
